*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    text-decoration: none;
    box-sizing: border-box;
  }
    
  .toptext{
    color: aliceblue;
    padding: 20px;
    background-color: black;
    text-align: center;
  }
  
  a{
    text-decoration: none;
    }
    
  li{
    list-style: none;
  }
  
  .currency{
    display: inline;
  }
  .navcontain{
    width: 100%;
    background-color: #ffffff;
  }
  .navcontain img{
    width: 60px;
    height: auto;
  }
  .navbar{
    display: grid;
    grid-template-columns: 0.2fr auto 1fr 0.07fr 0.04fr;
    align-items: center;
    height: 120px;
    width: 100%;
    margin: 0 auto;
  }
  
  .title{
    justify-self: start;
    margin-left: 20px;
  }
  
  .title p{
   font-size: 65px;
  }
  
  .nav-links{
    display: grid;
    grid-template-columns: repeat(5,auto);
    list-style: none;
    text-align: center;
    width: 100%;
    justify-self: end;
  }
  
  .navinside{
    color: #000000;
    text-decoration: none;
  }
  
  .nav-links a {
    color: #000000;
    }
    
    .title img{
      width: 100%;
    }
  
  .menu .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #ffffff;
  }

  .thechecker{
    text-align: center;
    display: block;
  }

  .checkingoutcontainer h1{
    font-family: 'Noto Sans JP', sans-serif;
    color: #c05959;
  }

  .linkingback a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
  }
 .linkingback{
  margin-bottom: 2%;
 }
  .paycard{
    background-color: #000000;
    color: #ffffff;
    font-size: 50px;
    width: 80%;
    height: auto;
    border-radius: 20px;
    text-align: start;
    padding-left: 3%;
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 2%;
  }

  .payreci{
    background-color: #F89A22;
    color: #ffffff;
    font-size: 50px;
    width: 80%;
    height: auto;
    border-radius: 20px;
    text-align: start;
    padding-left: 3%;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .obj_name{
    display: block;
  }
  .obj_qty p{
    display: inline;
  }

  .obj_price img{
    width: 25px;
    height: auto;
    align-items: center;
  }

  .flex-img iframe{
    width: 100%;
    height: auto;
    padding-left: 15px;
  }
  
  .flexinfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding:20px 20px 20px;
  }

  .everything{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F89A22;
    border-radius: 20px;
    width: 100%;
    justify-content: space-around;
  }
  
  .shoppingcart{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
  }

  .image1{
    margin-left: 20px;
  }

  .footer{
    width: 100%;
    display: block;
    padding: 20px 30px;
    background-color: #000000;
  }

  .wordlol a{
    font-size: 20px;
    display: block;
    margin: 0 auto;
    color: #fff
  }

  .le{
      padding-bottom: 10px;
  }

  .lo{
    padding-bottom: 10px;
  }

  .lel{
    padding-bottom: 10px;
  } 
  
  @media screen and (max-width: 768px){
    .navcontain{
      position: relative;
    }
  
    .navbar{
      display: grid;
      grid-template-columns: 1fr 0.2fr 0.3fr;
  
    }
    .nav-links{
      display: grid;
      grid-template-columns: auto;
      background:#ffffff;
      margin: 0;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
    }
  
    .title{
      margin-left: 20px;
    }
  
    .nav-links.active{
      background: #ffffff;
      width: 50%;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .navinside{
      text-align: center;
      line-height: 60px;
      width: 100%;
      display: table;
    }
    
    .navinside:hover{
      background-color: #ffffff;
      color: #c05959;
      transition: all 0.4s ease-out;
    }
  
    .navbar{
      width: 100%;
    }
  
    #mobilemenu{
        position: absolute;
        top: 30%;
        right: 5%;
        transform: translate(15%, 20%);
    }
  
    .menu-toggle .bar{
        display: block;
        cursor: pointer;
    }
  
    .menu .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(0, 0, 0);
      }
  
    .menu-toggle:hover{
        cursor: pointer;
    }
  
    #mobilemenu.is-active .bar:nth-child(2){
        opacity: 0;
    }
  
    #mobilemenu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg)
    }
  
    #mobilemenu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg)
    }
  
  }