*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
  }

.toptext{
    color: aliceblue;
    padding: 20px;
    background-color: black;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 10%;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
  }

.title{
    margin-right: auto;
  }

.nav-links li{
    text-align: center;
    display: inline-block;
    padding: 40px;
    margin-right: auto;
  }

.nav-links a {
    color: #140101;
  }

.title {
    font-size: 32px;
}

.info{
    height: 700px;
    background-image: url(images/salmon.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 300px;
  }

.wrapper{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
    width: 600px;
    height: 500px;
    padding: 30px 30px 30px;
  }

.forsen{
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    opacity: 1;
    }

.categories{
    text-align: center;
    padding: 40px;
    background-color: #000000;
    color: aliceblue;
    }

.wewant{
    font-size: 60px;
    text-align: center;
    }

 .services {
    position: relative; 
   }

.container {
    display: flex;
    width: 100%;
    background-color: #fff;
    flex-wrap: wrap;
  }

.flex-item {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
}

.flex-img img {
    max-width: 100%;
}

.flex-info {
    margin-top: auto;
}


.field{
  border-style: solid;
  border-color: #000000;
  border-radius: 20px;
  margin-left: 450px;
  width: 50%;
  justify-content: center;
  background-color: rgb(236, 120, 42);
  text-align: center;
}

.field textarea{
  width: 70%;
  padding-left: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #ffffff;
  border-radius: 30px;
}

.field input{
  width: 50%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border-radius: 30px;
  border: none;
  outline: none;
  background: #ffffff;
}

form{
  margin: 30px;
}

.reachingout{
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
  color: rgb(236, 120, 42);
}

.notperfect{
  text-align: center;
  font-size: 20px;
  margin-bottom: 150px;
}

span{
  color: black;
}
@media (max-width: 576px) {
  .flex-item {
    flex-grow: 1;
    flex-basis: 45%;
    flex-grow: inherit;
  }
}
