*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
  }

.toptext{
    color: aliceblue;
    padding: 20px;
    background-color: black;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 10%;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
  }

.title{
    margin-right: auto;
  }

.nav-links li{
    text-align: center;
    display: inline-block;
    padding: 40px;
    margin-right: auto;
  }

.nav-links a {
    color: #140101;
  }

.title {
    font-size: 32px;
}

.info{
    height: 700px;
    background-image: url(images/salmon.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 300px;
  }

.wrapper{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
    width: 600px;
    height: 500px;
    padding: 30px 30px 30px;
  }

.forsen{
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    opacity: 1;
  }